.btn-gold {
  @include button-variant($white, $gold, $gold);
  margin: 0px 10px 10px 0px;
}

.btn-green {
  @include button-variant($white, $green, $green);
  margin: 0px 10px 10px 0px;
}

.btn-blue {
  @include button-variant($white, $blue, $blue);
  margin: 0px 10px 10px 0px;
}

.btn-white {
  @include button-variant($text-color, $white, $white);
  margin: 0px 10px 10px 0px;
}

.btn-gray {
  @include button-variant($white, $light-gray, $light-gray);
  margin: 0px 10px 10px 0px;
}