body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lead {
  margin-bottom: 10px;
}

ul {
  li {
    margin-bottom: 5px;
  }
}

.content h2:first-child {
  margin-top: 0px;
}

a[href^=tel] {
  @media (min-width: $screen-sm-min) {
    color: $text-color;

  }
}

label.error {
  color: $red;
}

// Default Spacing
$base-spacing: $line-height-computed;