// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Primary Palette
$gold:         #856822;
$medium-tan:   #e5dec5;
$light-tan:    #f6f3e1;

// Secondary Palette
$purple:       #241773;
$green:        #898f4b;
$yellow:       #efcb65;
$blue:         #93b1cc;
$orange:       #ff9133;

// Accent Palette
$red:          #cf2f44;
$gray:         #77787b;
$black:        #000000;
$white:        #ffffff;

// Additional Colors
$header-tan: #f8f5e0;
$nav-primary-tan: #f4f1e7;
$gray-accent: #f7f7f7;
$medium-gold: #a29061;
$light-gray: #dedede;

// Change default colors
$table-bg-accent: $header-tan;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         38px !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (712px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1024px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
