.banner {
  background-color: $header-tan;

  .container {
    padding: $base-spacing 0px;

    .logo {
      z-index: 1000;
      @include make-xs-column(12);
      @include make-sm-column(3);
      @include center-block();
      text-align: center;
      margin-bottom: $base-spacing;

      @media (min-width: $screen-sm-min) {
        text-align: left;
      }


      img {
        max-width: 100%;
        max-height: 75px;
      }
    }

    .header-right {
      @include make-sm-column(9);
    }
  }
}

.header-separator {
  color: #E7E7E7;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-primary {
  @include make-xs-column(12);
  float: none;

  background-color: $nav-primary-tan;
  margin-bottom: $base-spacing*2;

  ul {
    @extend .list-inline;
    text-align: center;

    li {
      a {
        font-weight: bold;
        text-transform: uppercase;
        color: $gold;
      }
    }
  }
}
