.page, .archive, .single {
  .content {
    margin-left: 0px;
    margin-right: 0px
  }
}

.sidebar-primary .main {
  @include make-sm-column(9);
  @include make-sm-column-push(3);
}

.main {
  .page-header {

    padding-bottom: 0px;
    border-bottom: none;

    margin-top: 32px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
    color: $green;

    margin-top: 0px
  }

  h2 {
    font-size: 22px;
    color: $gold;
  }

  h3 {
    font-size: 16px;
    color: $gold;
  }

  h4 {
    font-size: 14px;
    color: $gold;
  }

  h5, h6 {
    font-size: 14px;
    color: $black;
  }

}
